{# bas de page #}
<link rel="stylesheet" href="{{ asset('css/menu.css') }}">

<div id="site-footer">
    <img src="{{ asset('images/footer-image.jpg') }}" alt="Footer Image" class="footer-image">
</div>

