{% block menu %}
    <div class="menu">
        <a href="{{ path('main') }}">Accueil</a>
        <a href="{{ path('product_list') }}">Produits</a>
        <a href="#cart">Panier</a>
        <a href="#account">Mon Compte</a>
        <a href="#contact">Contact</a>
    </div>

{% endblock %}

