{# template intermédiaire (niveau 2) spécifique au site de vente #}

{% extends 'Layouts/layout.html.twig' %}

{% block title %}Vente{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" media="screen" type="text/css" title="default" href="{{ asset('css/menu.css') }}" />
{% endblock %}

{% block body %}

    <div id="site_headerr">
        {% include 'Layouts/_header.html.twig' %}
    </div>

    <div id="flash">
        {% include 'Layouts/_flash.html.twig' %}
    </div>
    
    <div id="menu">
        {{ render(controller('App\\Controller\\MainController::menuAction')) }}
    </div>

    <div id="titre">
        <h1>{% block titre_principal %}{% endblock %}</h1>
    </div>
    
    <div id="vue">
        {% block vue %}{% endblock %}
    </div>

    <div id="site-footer">
        {% include 'Layouts/_footer.html.twig' %}
    </div>
{% endblock %}


