footer {
    background-image: url('../footer.png'); 
    background-size: cover; /* L'image couvre toute la largeur du conteneur */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
}

