/* menu.css */

.site-header {
    background-image: url('/images/banner.jpg'); 
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
}

.product-list {
    display: flex; /* Ajout pour disposition horizontale */
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
    gap: 20px; /* Espacement entre les produits */
    padding: 20px;
    padding-left: 20px;
    margin-top: 20px;
} 

.product-list li {
    margin-bottom: 10px;
    font-size: 16px;
    list-style-type: none; /* Supprime les cercles des listes */
    font-size: 20px;
    text-align: center; /* Centrage du contenu du produit */
    flex: 0 1 250px; /* Permet une largeur minimale et maximale pour les éléments */
}

.product-image {
    width: 150px;     
    height: 150px; 
    object-fit: cover;
    margin-right: 0; /* Supprime l'espacement latéral */
    display: block; /* Change inline-block à block pour une meilleure cohérence */
    margin: 0 auto; /* Centre l'image horizontalement */
}

/* Style global pour le menu */
.menu {
    background-color: #333;
    overflow: hidden;
}

/* Liens du menu */
.menu a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
}

/* Effet de survol pour les liens */
.menu a:hover {
    background-color: #ddd;
    color: black;
}

.menu a.active {
    background-color: #f1d867;
    color: rgb(77, 53, 31);
}

@media screen and (max-width: 600px) {
    .menu a {
        float: none;
        width: 100%;
        text-align: left;
    }

    .product-list {
        flex-direction: column; /* Change l'alignement à vertical pour petits écrans */
    }
}

.site-footer {
    background-image: url('../images/footer.png'); 
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
}
