<!DOCTYPE html>
<html lang="fr">
<head class="site-header">
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {%block body%}

    {%endblock%}

</body>
<footer>
    {# Inclusion du footer ici #}
    {% include 'layout/_footer.html.twig' %}
</footer>
</html>