<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Vente</title>
    </head>
    <body>
        {% include 'base.html.twig' %}
        <h1>Bienvenue, {{ moi }} !</h1>
        <p>Vous êtes connecté(e) en tant que {{ moi }}.</p>
    </body>
</html>
